.App {
  padding: 7rem 3rem;
  text-align: center;
}

.file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload-input + label {
  display: inline-block;
  text-transform: uppercase;
  padding: .8rem 1rem;
}

.file-upload-input:focus + label,
.file-upload-input + label:hover {
  background-color: rgba(122, 12, 6, .9);
}

.file-upload-input + label {
  cursor: pointer;
}

.file-upload-input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file-upload-input + label * {
  pointer-events: none;
}

.file-upload-label {
  display: inline-block;
  padding: .8rem 1.4rem;
  font-size: 1rem;
  letter-spacing: .3px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: .5rem;
  border: 2px solid #d7dfe5;
  background-color: darkred;
}

.file-upload-label[disabled] {
  cursor: not-allowed;
  opacity: .6;
}

.file-upload-label:hover {
  color: #eee;
  background-color: rgba(255, 255, 255, 0.1);
}